{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Cardiovascular Disease Prediction
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Are you at risk?</h1>

      <p class="lead">Please enter the following information to determine if you are at risk of cardiovascular disease.</p>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}{{ risk }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}